#showOrder {
  display: none;
}

#orderList{
  list-style: none;
}

@font-face {
    font-family: "paint";
    src: url("PAINP___.ttf");
  }

body {
  color: orange;
  font-family: "Times New Roman, paint";
  text-shadow: 2px 2px black;
  background-color: black;
  background-image: url("../img/BrickOven1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: lightslategrey;
  background-image: url("../img/oldBrickWall.jpg");
  background-size: cover;
  font-family: "paint";
  color: white;
}

.jumbotron-fluid {
  padding: 0;
}

.sizeSelect{
  width: 150px;
}

#pizzaForm {
  font-family: "Times New Roman"
}
